html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url(../assets/img/pngtree-anime-style-japanese-landscape-night-scene-serene-water-lake-wooden-bridge-image_15840606-_1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

section {
    padding: 1.5rem;
}

h2{
    font-size: 3rem;
    color:rgb(221, 132, 0) ;
    letter-spacing: 0.4rem;
    font-family:"bebas neue", sans-serif ;
    text-shadow: 0 0 5px #f3f7f7,
                 0 0 10px #f4f7f7,
                 0 0 15px #ecf4f3;   
}

.texto{
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 500;
    font-style: normal;
   
}

.footer {
    color:#ff02ff;
    padding: 20px;
    text-align: center;
    

    
}

.footer-links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2 ease;

}

.footer-links a:hover {
    color: #ccc;
}

.bi {
    font-size: 18px;
    margin-right: 5px;
}

  
  